* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Carla', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

.show {
  animation: toBottom 0.5s ease;
}

.noshow {
  animation: toTop 0.5s ease;
}

@keyframes toBottom {
  0% {
    top: -310px;
  }
  100% {
    top: 30px;
  }
}

@keyframes toTop {
  0% {
    top: 90px;
  }
  100% {
    top: -310px;
  }
}